.Signup {
    background-color: var(--BackgroundColor);
    height: 100vh;
}

.form {
    display: flex;
}

.userinfo-left-frame {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 36px;
    margin-right: 36px;
    gap: 16px
}

.profile-img {
    margin-left: 36px;
    margin-right: 36px;
}

.contact-right-frame {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    width: 50%;
    margin-right: 36px;
    gap: 16px
}

.addwallet-frame {
    display: flex;
    justify-content: left;
}

.register-btn-frame {
    display: flex;
    justify-content: right;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}