.Viewreport {
    background-color: var(--BackgroundColor);
    height: 100%;
}

.avatar img {
    width: 96px;
    height: 96px;
}

.report-container {
    padding: 1.2rem;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    background-color: var(--SurfaceColor);
}

.left-user {
    display: flex;
    width: 10%;
    justify-content: center;
}

.right-report {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.avataruser-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: top;
}

.username-label {
    font-family: 'DM Sans', 'sans-serif';
    color: #3D5445;
    font-weight: 400;
    font-size: 0.8rem;
}

.report-img {
    height: 350px;
    width: 550px;
}

.report-img img {
    height: 350px;
    width: 550px;
    object-fit: cover;
}

.report-complete-location-label {
    font-family: 'Spectral', 'sans-serif';
    font-size: 1rem;
    color: #3D5445;
    margin-bottom: 16px;
}

.description-label {
    font-family: 'Spectral', 'sans-serif';
    font-size: 1.1rem;
    margin-top: 4px;
    margin-bottom: 24px;
    color: #4F6758;

}

.desc-title {
    font-family: 'DM Sans', 'sans-serif';
    font-size: 1rem;
    margin-top: 32px;
    font-weight: 500;
    color: #3D5445;
}

.Viewreport .title {
    margin-top: 8px;
}

.taskcards-frame {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proposed-tasks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}