.Viewtask {
    background-color: var(--BackgroundColor);
    height: 100%;
}

.wrapper-buttons {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.Viewtask-frame {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.2rem;
    margin-left: 16px;
    margin-right: 16px;
}

.user-avatar-profile {
    display: flex;
    align-items: center;
}

.user-avatar-profile img {
    height: 92px;
    width: 92px;
}

.viewtaskrows-frame {
    display: flex;
    padding: 1.4rem;
    justify-content: space-between;
    background-color: var(--SurfaceColor);
}

.rw3-userframe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col-user-infos-profile {

    display: flex;
    flex-direction: column;
}

.user-infos-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rw1-chips-members-leftdays {
    display: flex;
}


.verticalline {
    border-left: 1px solid #809C87;
    height: 96px;
}

.col-chips-members-leftdays {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rw-col-chips-members-leftdays {
    display: flex;
    gap: 8px
}

.rw-goal-divider-raised-ico-frame {
    display: flex;
    gap: 16px;
    align-items: center;
}

.col-goal-wrapper-labels {
    display: flex;
    flex-direction: column;
}

.s-verticalline {
    border-left: 1px solid #809C87;
    height: 36px;
}

.col4-user-contact-icons {
    display: flex;
    gap: 12px;
    margin-top: 4px;
}

.col4-user-contact-icons img {
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.col1-user-creator-label {
    font-family: 'DM Sans', 'sans-serif';
    font-size: 0.7rem;
    color: #809C87;
    font-weight: 500;
    align-items: center;
}

.col2-user-label {
    font-family: 'DM Sans';
    font-size: 1.2rem;
    font-weight: bold;
    color: #6B8F78;
    align-items: center;
}

.col3-user-email-label {
    font-family: 'Spectral', 'sans-serif';
    color: #809C87;
    font-weight: 500;
    font-size: 0.9rem;
    align-items: center;
}

.vt-goal {
    font-family: 'DM Sans';
    font-size: 1.8rem;
    font-weight: bold;
    color: #6C8573;
}

.vt-goal-label {
    font-family: 'DM Sans';
    font-size: 1rem;
    text-align: center;
    font-weight: medium;
    color: #809C87;
}

.vt-raised {
    font-family: 'DM Sans';
    font-size: 1.8rem;
    font-weight: bold;
    color: #3D5445;
}

.vt-raised-label {
    font-family: 'DM Sans';
    font-size: 1rem;
    text-align: center;
    font-weight: medium;
    color: #809C87;
}

.members-missing-label {
    font-family: 'DM Sans', 'sans-serif';
    color: #809C87;
    font-weight: 400;
    font-size: 0.9rem;
    align-items: center;
    margin-top: 4px;
}

.members-missing-label span {
    font-family: 'DM Sans', 'sans-serif';
    color: #809C87;
    font-weight: bold;
}

.vt-rw-daysleft-label {
    font-family: 'DM Sans', 'sans-serif';
    color: #809C87;
    font-weight: 400;
    font-size: 0.9rem;
    align-items: center;
}

.vt-rw-daysleft-label span {
    font-family: 'DM Sans', 'sans-serif';
    color: #809C87;
    font-weight: bold;
    font-size: 0.9rem;
    align-items: center;
}

.wrapper-vt-raised-logo {
    display: flex;
    align-items: center;
}

.vt-usdt-logo {
    margin-left: 4px;
    height: 20px;
    width: 20px;
}

.vt-progress-frame {
    display: flex;
    justify-content: space-between;
}

.vt-progress-wrapper-card-button .btn-frame {
    width: 100%;
    justify-content: space-between;
}

.validation-frame {
    display: flex;

}

.col-vt-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.4rem;
    background-color: #E6FAE4;
    height: 500px;
    width: 80%;
}

.col-vt-right-frame {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.col-vt-right {
    background-color: #ADDCBD;
    height: 90%;
}

.title-validation-label {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 1rem;
    color: #4F6758;
}

.hline {
    border: 0;
    border-top: 1px solid #B3E4C4;

}

.taskcards-frame {
    min-height: 284px;
}

.membersphotos-control-frame {
    display: flex;
    flex-direction: column;
}

.membersphotos-control-container {
    display: flex;

}

.membersphotos-control-wrapper {
    display: flex;
    flex-direction: column;
}

.membersphotos-control-bt-left {
    cursor: pointer;
    display: flex;
    background-color: #B3E4C4;
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 5%;
}

.membersphotos-control-bt-left:hover {
    background-color: #34D399;
}

.membersphotos-control-bt-right:hover {
    background-color: #34D399;
}


.membersphotos-control-body {
    background-color: #fff;
    height: 96px;
    width: 90%;
}

.membersphotos-control-bt-right {
    cursor: pointer;
    display: flex;
    background-color: #B3E4C4;
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 5%;
}

.photo-gallery-frame {
    display: flex;
    height: 50%;
    gap: 32px;
    flex-wrap: wrap;
}

.photo-gallery-container {
    display: flex;
    cursor: pointer;
    height: 90%;
}

.photo-gallery-container img {
    height: 256px;
    width: 256px;
}

.photo-gallery-container-btn-frame {
    display: flex;
    justify-content: right;
}

.photo-gallery-container img:hover {
    transform: translateY(-5px) scale(1.000) translateZ(0);
    box-shadow: rgba(184, 249, 211, 0.48)
}

.photo-gallery-container img:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px rgba(184, 249, 211, 0.48);
}

.membersphotos-funders-label-wrapper {
    display: flex;
    padding: 1.2rem;
    justify-content: space-around;
}

.vt-aprov-frame {
    height: 10%;
}

.vt-aprov-founders-wrapper {
    display: flex;
    background-color: #BDEECE;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.vt-aprov-founders-label {
    font-family: 'DM Sans';
    font-weight: 400;
    color: #809C87;
}

.vt-aprov-founders-label span {
    font-family: 'DM Sans';
    font-weight: 500;
    color: #677D6D;
}

.funder-check-wrapper {
    display: flex;
    padding: 0.8rem;
    align-items: center;
    justify-content: space-around;
    margin-right: 16px;
}

.funder-user-label {
    font-family: 'DM Sans';
    font-weight: 500;
    color: #6D8675;
}