.input-frame {
    display: flex;
}

input[type=text] {
    display: inline-block;
    color: #fff;
    font-family: 'DM Sans', 'sans-serif';
    width: 300px;
    padding: 12px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    transition: background-color 0.5s ease;
}

input[type=text]:focus {
    background-color: rgba(0, 0, 0, 0.45);
}