input[type=text] {
    display: inline-block;
    color: #fff;
    font-family: 'DM Sans', 'sans-serif';
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    transition: background-color 0.5s ease;
}

input[type=text]:focus {
    background-color: rgba(0, 0, 0, 0.45);
}

input::placeholder {
    color: #b6d4be
}

input[type=number] {
    display: inline-block;
    color: #fff;
    font-family: 'DM Sans', 'sans-serif';
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    transition: background-color 0.5s ease;
}

input[type=number]:focus {
    background-color: rgba(0, 0, 0, 0.45);
}