textarea {
    display: inline-block;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    font-family: 'DM Sans', 'sans-serif';
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
    resize: none;
    transition: background-color 0.5s ease;
}

textarea:focus {
    background-color: rgba(0, 0, 0, 0.45);
}

textarea::placeholder {
    color: #b6d4be
}